body {
  font: 16px "Noto Sans", serif;
  background: #252525;
  color: #e8e8e8;
}

.mode-image {
  width: 57%;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caution-image {
  width: 4%;
}

.error-message {
  margin: 1px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}