body {
  font: 16px "Noto Sans", serif;
  background: #252525;
  color: #e8e8e8;
}

.mode-image {
  z-index: 1;
  width: 57%;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caution-image {
  width: 4%;
}

.error-message {
  margin: 1px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gear-table-wrapper {
  position: absolute;
  left: 825px;
  top: 718px;
  z-index: 2;
}
.gear-table {
  font-size: 28pt;
  color: black;
  border-collapse: collapse;
  border-style: solid;
  border-color: black;
}

td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
}